// Colors
$primary: #ffbf00;
$secundary: #96989b;
$primary-gray: #333333; 
$secundary-gray: #899096;
$backgroundPrimary: #000000;
$backgroundSecundary:  #f5f5f5;
$redDefault: #c42323;
$dangerMessage: #ea868f;


// Sizes

$lite: 300;
$normal: 500;
$bold: 700;


$borderRadius: 0.375rem;