@import '~bootstrap/scss/bootstrap';
@import '../constants/variables.scss';

#root .spinner-border {
    color: $primary;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5rem;
    height: 5rem;
    border-width: 0.6em;
    z-index: 4;
  }

.BackgroundLoading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}