@import '~bootstrap/scss/bootstrap';
@import '../../components/constants/variables.scss';


.AprovarOrcamentosContainerHeader {
    margin-top: 30px;

    .BuscaOrcamentosContainer {
        padding: 0 30px;

        .Input {
            margin-right: 0 !important
        }
        .btnSearch {
            background-color: $primary;
            
            svg {
                fill: $primary-gray;
            }
        }
    }

    .ExibeOrcamentosContainer {
        margin: 0 30px;
        overflow: auto;
        height: 300px;

        .TabelaOrcamentos {
            text-align: center;

            .TableRow {
                cursor: pointer;

                &:hover {
                    td {
                        background-color: $primary-gray;
                        color: $primary;
                        font-weight: $bold;
                    }
                }
            }
        }
    }
}

.AprovarOrcamentosContainerBody {
    margin: 0 30px;
    .CabecalhoPedido {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: space-between;

        .PedidoGroup {
            .Title {
                font-weight: $bold;
            }
            .Text {
                margin-left: 5px;
            }
        }
    }
    .DadosProdutosPedido {
        overflow-x: auto;

        .TabelaProdutos {
            .HeaderFornecedores {
                border: transparent;
                text-align: center;
            }
        }
    }
    .FooterPedido {          
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: baseline;
        column-gap: 20px;
        row-gap: 20px;

        @include media-breakpoint-up(md) {
            justify-content: center;
        }

        .CartaoFornecedor {
            min-width: 250px;
            position: relative;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
            transition: box-shadow 0.3s ease;
            cursor: pointer;
            border-radius: $borderRadius;

            .form-check-input {
                position: absolute;
                top: 50%;
                margin-left: -20px;
            }

            .CartaoBody {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 10px;
                align-items: center;

                .Title {
                    font-weight: $bold;
                }
            }
        
            &:hover {
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
            }
        }
        
    }

    .buttonAprovarOrcamento {
        color: $primary;
        background-color: $primary-gray;

        &:hover {
            background-color: $primary;
            color: $backgroundPrimary;
        }
    }

    .modal {
        background-color: rgba(0, 0, 0, 0.5);
        .BtnModalCancel {
            color: $primary;
            background-color: $secundary-gray;

            &:hover {
                background-color: $primary;
                color: $backgroundPrimary;
            }
        }
        .BtnModalConfirm {
            color: $primary;
            background-color: $primary-gray;

            &:hover {
                background-color: $primary;
                color: $backgroundPrimary;
            }
        }
    }
}